<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @friend.name %>
</p>

<p>
  <b>Email:</b>
  <%= @friend.email %>
</p>

<p>
  <b>Mobile:</b>
  <%= @friend.mobile %>
</p>

<p>
  <b>Isgoodfriend:</b>
  <%= @friend.IsGoodFriend %>
</p>


<%= link_to 'Edit', edit_friend_path(@friend) %> |
<%= link_to 'Back', friends_path %>
